/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*-----------End of Reset-----------*/

body {
	font-family: "open-sans", "open sans" ,sans-serif;
	font-style: normal;
	font-weight: 400;
	background-color: #ffffff;
}

header {
	position: relative;
	top:50px;
	text-align: center;
	font-size: 35px;
	font-weight: 700;
	color: #e5e5e5;
}

#datavis {
	position: relative;
	margin: 0 auto;
	top:110px;
	width: 960px;
	height: 350px;
  	font-size: 10px;
  	fill:#BEBEBE;
}

.key {
	text-align: center;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 2px;
}


.axis path,
.axis line {
  fill: none;
  stroke: #BEBEBE;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.y.axis path {
  display: none;
}



/*-----------Open Sans-----------*/
.line-opensans {
  fill: none;
  stroke: #EF5029;
  stroke-width: 2px;
  stroke-linecap:round;
  stroke-linejoin:round;
  opacity: 1;
  -webkit-transition: opacity 1s;
 
}

.line-opensans-hide {
  fill: none;
  stroke: #EF5029;
  stroke-width: 2px;
  stroke-linecap:round;
  stroke-linejoin:round;
  opacity: 0; 
  -webkit-transition: opacity 1s; 
}

/*-----------Futura-----------*/
.line-futura {
  fill: none;
  stroke: #4DB788;
  stroke-width: 2px;
  stroke-linecap:round;
  stroke-linejoin:round;
  opacity: 1;
  -webkit-transition: opacity 1s;
}

.line-futura-hide {
  fill: none;
  stroke: #4DB788;
  stroke-width: 2px;
  stroke-linecap:round;
  stroke-linejoin:round;
  opacity: 0; 
  -webkit-transition: opacity 1s; 
}

/*-----------Knockout-----------*/
.line-knockout {
  fill: none;
  stroke: #FFCF48;
  stroke-width: 2px;
  stroke-linecap:round;
  stroke-linejoin:round;
  opacity: 1;
  -webkit-transition: opacity 1s;
}

.line-knockout-hide {
  fill: none;
  stroke: #FFCF48;
  stroke-width: 2px;
  stroke-linecap:round;
  stroke-linejoin:round;
  opacity: 0; 
  -webkit-transition: opacity 1s; 
}

/*-----------Din-----------*/
.line-din {
  fill: none;
  stroke: #1FCECB;
  stroke-width: 2px;
  stroke-linecap:round;
  stroke-linejoin:round;
  opacity: 1;
  -webkit-transition: opacity 1s;
}

.line-din-hide {
  fill: none;
  stroke: #1FCECB;
  stroke-width: 2px;
  stroke-linecap:round;
  stroke-linejoin:round;
  opacity: 0; 
  -webkit-transition: opacity 1s; 
}

/*-----------Helvetica-----------*/
.line-helvetica {
  fill: none;
  stroke: #1CA9C9;
  stroke-width: 2px;
  stroke-linecap:round;
  stroke-linejoin:round;
  opacity: 1;
  -webkit-transition: opacity 1s;
}

.line-helvetica-hide {
  fill: none;
  stroke: #1CA9C9;
  stroke-width: 2px;
  stroke-linecap:round;
  stroke-linejoin:round;
  opacity: 0; 
  -webkit-transition: opacity 1s; 
}


/*-----------Toggles-----------*/


#dashboard {
	position: relative;
	top:80px;
	width: 100%;
	height: 200px;
	z-index: 10;
	
}

#toggles {
	position: relative;
	width: 80%;
	margin: 0 auto;
	top:40px;
}

.typeface {
	position: relative;
	float: left;
	width: 15%;
	height: 50px;
	margin: 1em;
}

.typeface p {
	position: relative;
	text-align: center;
	padding-top:14px;
	border-top: 1px solid #f7f7f7;
	color: #646464;
	font-size: 14px;
}

.toggle-bg {
	position: relative;
	width: 35px;
	height: 20px;
	background: #ffffff;
	border-radius: 12px;
	margin: 0 auto;
	bottom: 10px;
	border: 2px solid #ededed;
}

.toggle {
	position: relative;
	height: 16px;
	width: 16px;
	border-radius: 10px;
	background: #c4c4c4;
	top:2px;
	left:2px;
	-webkit-transition: left 1s, background 1s;
}

.helvetica {
	left:17px;
	background: #1CA9C9;
}

.futura {
	left:17px;
	background: #4DB788;
}

.knockout {
	left:17px;
	background: #FFCF48;
}

.din {
	left:17px;
	background: #1FCECB;
}

.opensans {
	left:17px;
	background: #EF5029;
}


