/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*-----------End of Reset-----------*/


/*-----------Zippo-----------*/

.full-zippo {
	position: absolute;
	left: 40%;
	top:200px;
}

/*-----------Zippo Top-----------*/

.zippo-top {
	position: absolute;
	width: 150px;
	height: 80px;
	background-color: #d8d8d8;
	-webkit-transform-origin: 100% 100%;
	border-radius: 25px 25px 0px 0px;
	-webkit-transition: .5s ease-in-out;
	
}

.zippo-top:hover {
	position: absolute;
	width: 150px;
	height: 80px;
	background-color: #d8d8d8;
	-webkit-transform-origin: 100% 100%;
	border-radius: 25px 25px 0px 0px;
	-webkit-transform: rotate(130deg);
	
}

.round-top {
	position: absolute;
	width: 130px;
	height: 20px;
	background-color: #d8d8d8;
	border-radius: 50%;
	left:10px;
	top:-4px;
	
}

/*-----------Hinge----------*/

.hinge {
	position: absolute;
	width: 8px;
	height: 8px;
	background-color: #000000;
	border-radius: 50%;
	border: 3px solid #a1a1a1;
	z-index: 1;
	top:73px;
	left:143px;	
}

/*-----------Zippo Bottom-----------*/

.zippo-bottom {
	position: absolute;
	width: 150px;
	height: 120px;
	background-color: #d8d8d8;
	-webkit-transform-origin: 100% 0%;
	border-radius: 0px 0px 25px 25px;
	top:80px;
	
}

/*-----------Lighter-----------*/

.lighter-bottom {
	position: absolute;
	width: 130px;
	height: 20px;
	background-color: #b2b2b2;
	left: 10px;
	top:73px;
	z-index: -2;
	border-radius: 5px 5px 0px 0px;	
}

.flint-lock {
	position: absolute;
	width: 20px;
	height: 5px;
	background-color: #edcc78;
	left:10px;
	top:-5px;
}

.striker {
	position: absolute;
	width: 10px;
	height: 5px;
	background-color: #d7b867;
	left:5px;
	top:-5px;
}

.wick {
	position: absolute;
	height: 90px;
	width: 70px;
	background-color: #909090;
	border-radius: 5px 5px 0px 0px;	
	top: 20px;
	left: 45px;
	z-index: -4;
}

.details1 {
	position: absolute;
	height: 8px;
	width: 8px;
	border-radius: 50%;	
	background-color: #2f2f2f;
	left:30px;
	top:7px;	
}

.details1:before {
	content: "";
	position: absolute;
	height: 8px;
	width: 8px;
	border-radius: 50%;	
	background-color: #2f2f2f;
	left:-20px;	
}

.details1:after {
	content: "";
	position: absolute;
	height: 8px;
	width: 8px;
	border-radius: 50%;	
	background-color: #2f2f2f;
	left:20px;	
}

.details2 {
	position: absolute;
	height: 8px;
	width: 8px;
	border-radius: 50%;	
	background-color: #2f2f2f;
	left:20px;
	top:22px;	
}

.details2:after {
	content: "";
	position: absolute;
	height: 8px;
	width: 8px;
	border-radius: 50%;	
	background-color: #2f2f2f;
	left:20px;	
}

.details3 {
	position: absolute;
	height: 8px;
	width: 8px;
	border-radius: 50%;	
	background-color: #2f2f2f;
	left:30px;
	top:36px;	
}

.details3:before {
	content: "";
	position: absolute;
	height: 8px;
	width: 8px;
	border-radius: 50%;	
	background-color: #2f2f2f;
	left:-20px;	
}

.details3:after {
	content: "";
	position: absolute;
	height: 8px;
	width: 8px;
	border-radius: 50%;	
	background-color: #2f2f2f;
	left:20px;	
}

/*-----------Flint-----------*/

.flint {
	position:absolute;
	width: 35px;
	height: 35px;
	background-color: #2f2f2f;
	border-radius: 50%;
	top:27px;
	left:12px;
	z-index: -5;
}

.flint-rivet {
	position:absolute;
	width: 15px;
	height: 15px;
	background-color: #b2b2b2;
	border-radius: 50%;
	top:10px;
	left:10px;
}

.rivet {
	position:absolute;
	width: 7px;
	height: 7px;
	background-color: #2f2f2f;
	border-radius: 50%;
	top:4px;
	left:4px;
}

.flint-fill {
	position:absolute;
	width: 15px;
	height: 15px;
	background-color: #b2b2b2;
	left:8px;
}

.flint-tri {
	position: absolute;
	width: 0;
	height: 0;
	border-bottom: 10px solid #b2b2b2;
	border-left: 20px solid transparent;
	top:-10px;
	left:8px;
}

