

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* ------------------------END RESET------------------------ */




/* ------------------------POSITIONING------------------------ */


.menu-container {
		   position:fixed;
		   height:100%;
		   width:13em;
		   left:0;
		   background-color:white;
		   border-right: 1px dotted lightgray;
		   box-shadow: 0em 0em 1.5em lightgray;
           }
           
.menu  li {
		  position:relative; 
		  width:80%;
		  margin:0 auto;
		  }
		  
.recipes {
		  position:relative;
		  left:13em;
		  top:5.5em;
		  width:150%;
		  background-color:red;
		  }
      
.recipe {
		float:left;
		width:350px;
		padding: 0em 3em 0em 3em;
		border-right: 1px dotted lightgray;
        }
        
.ingredients {
			 position:relative;
			 width:90%;
			 margin: 0 auto;
			 }
     
.ingredients ul {
			 position:relative;
			 width: 90%;
			 margin: 0 auto;
			 }

.ingredients li {
			    width:50%;
			    float:left;
			    }
			    
.prep-work {
			 position:relative;
			 width:90%;
			 margin-top:8em;
			 margin-right: auto;
			 margin-left: auto;
			 }
     
.prep-work ol {
			 position:relative;
			 width: 100%;
			 margin: 0 auto;
			 }


/* ------------------------STYLING------------------------ */

h1, h2, ol, a:link {

	font-family:Palatino;

}

h1 {
	font-weight:bold;
	font-size:1.3em;
	text-transform:uppercase;
	line-height:2em;
	letter-spacing:.1em;
}

.menu-container h1 {
				   font-size: 1.5em;
				   text-align:center;
		 		   }

h2 {
	padding: .5em 0em .5em 0em;
}

nav {
	padding: 1em 0em 1em 0em;
	line-height: 1.5em;
}

ul {

	font-family:helvetica;
	font-size: 0.8em;
	line-height:1.5em;
}

ol li {
      padding-top:1em;
	  }

ol {
	font-size:0.8em;
	line-height:1.6em;
	padding: 1em;
	
}

a:link, a:visited {
	text-decoration: none;
	color: #466B3A;
	padding: .15em 2em .15em 2em;
}