

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*----------------------- Clear End -----------------------*/



/*----------------------- Nav Positioning -----------------------*/

#site-wrapper {
			   height: 8em;
			   width: 100%;
			   position:fixed;
			   top:0;
			   background-color:#fefefe;
			   z-index: 2;
			   }

header, #work, #contact, #about {
								float:left;								
								}

#thirteen, #twelve, #eleven {
							float:left;
							width:31%;
							margin-right:2.3333%;
							height:100%;
							}

#years  {
		position: absolute;
		bottom: 0;
		width: 45%;
		height: 60%;
		}

#info-wrapper {
			  position: absolute;
		      bottom: 0;
			  width: 15%;
			  height: 65%;
			  }

header  {
		width:13%;
		margin-left:5%;
		margin-right:3%;
		left: 1em;
		}

header h1 {
		  width: 7em;
		  height: 5em;
		  background: url("images/logo.png") no-repeat;
		  text-indent: -9999px;
		  margin-top: 1.8em;
		  }

#work   {
		width:45%;
		margin-left:1%;
		margin-right:3%;
		height:8em;
		margin-top:1.2em;
	    }

#contact {
		 width:15%;
		 margin-right:5%;
		 height:8em;
		 margin-top:1.2em;
	 	 }

#about  {
		width:8%;
		margin-right:2%;
		height:8em;
		margin-top:1.2em;
		}

/*----------------------- Nav Styling -----------------------*/

body {
	 font-family: "rooney-sans", "Bryant", sans-serif;
	 }

a:link {
	   text-decoration:none;
	   }
	   
a:visited {
	   color:#F05A28;
	   }

#years a:visited {
	   color:#6D6E70;
	   }

#site-wrapper h2 a:link {
			       color:#F05A28;
			       text-transform:uppercase;
			       letter-spacing:.1em;
			       font-size:.9em;
			       font-weight:semi-bold;
			       margin-top: 2em;
			       }
			       
#site-wrapper h3 {
			     color:#231F20;
			     font-size:.8em;
			     font-weight:bold;
			     margin-bottom:.2em;
			     }
			       
#site-wrapper a:link, p  {
			    		 color:#6D6E70;
			    		 font-size:.6em;
			    		 line-height: 1.4em;
			    		 }
#site-wrapper a:hover  {
			    	   color:#F05A28;
			    	   }
			    
#site-wrapper p {
			    margin-top:.4em;
			    }

/*----------------------- Project Positioning -----------------------*/

#project-wrapper {
				 margin-top:8em;
				 padding-top:2em;
			   	 width:100%;
			   	 position:relative;
			   	 margin-bottom:5em;
			   	 }
			   	 
#list {
	  margin-left:auto;
	  margin-right:auto;
	  width:90%;
	  position: relative;
	  }
	  
.project {
		 width:22%;
		 margin-left:1.5%;
		 margin-right:1.5%;
		 margin-bottom:3%;
		 float:left;
		 position: relative;
		 }

.project img {
			 position:relative;
			 z-index: -1;
			 }

.project a {
			 position:absolute;
			 width:100%;
			 height:100%;
			 top:0;
			 color: transparent;
			 margin-right: auto;
			 margin-left: auto;
			 z-index: 0;
			 }

.project a:hover {
			 position:absolute;
			 color:white;
			 background-color: rgba(240, 90, 40, 0.9);
			 z-index: 0;
			 }

.project p {
			 position:absolute;
			 width: 70%;
			 height:100%;
			 padding:10%;
			 padding-top:20%;
			 color:transparent;
			 }

.project p:hover {
			 font-size: 1.5em;
			 font-weight: bold;
			 position:absolute;
			 color:white;
			 }
		 
/*----------------------- Content Positioning -----------------------*/
			   	 
#content-wrapper {
				 width:100%;
				 margin-top: 2em;
			   	 }
			   	 
#projectname, #congress, #oil, #sustain, #eames, #post  {
			           			   						width:100%;
			          			   						float:left;
			           			   						}
			   	 
#project-title, #congress-title, #oil-title, 
#sustain-title, #eames-title, #post-title, .work-wrapper {
							  							 float:left;
							  							 }

#project-title, #congress-title, #oil-title, 
#sustain-title, #eames-title, #post-title {
			   							  width:15%;
			   						  	  margin-left:5%;
			   						  	  }
			   
.project-content {
			     width:73%;
			     margin-left:22%;
			     }
			     
.project-break   {
			     width:100%;
			     height:3.6em;
			     margin: 2em 0 2em 0;
			     background: url("images/image-break.png") repeat;
			     }
			     
.project-break h3  {
			     	margin: auto;
			     	padding-top:2.8em;
			     	text-align:center;
			     	}
			     			
img {
	width:100%;	
	}
			   
.project-part1, .project-part2, 
.project-part3, .project-part4 {
							   width:100%;
							   float:left;
							   padding-bottom:1.5em;
							   }
							   
.project-part2, .project-part3, .project-part4  {
												padding-top:1.5em;
												}
			   
.type {
	  width:31%;
	  }
	  
.photo {
	  width:65.5%;
	  }
	  
.threecolumn, .threecolumnlast {
					 float:left;
					 width:31%;
					 margin-right:3.5%;
					 }

.threecolumnlast {
				 margin-right:0%;
				 }
			
.twocolumn, .twocolumnlast  {
					 		float:left;
					 		width:48.25%;
					 		margin-right:3.5%;
					 		}

.twocolumnlast 	{
				margin-right:0%;
				}	

/*----------------------- Styling -----------------------*/


#project-title h1, #congress-title h1, #oil-title h1, 
#sustain-title h1, #eames-title h1, #post-title h1 	 {
			      									 font-size: 1.8em;
			      									 font-weight:bold;
			      									 line-height:1.2em;
			      									 width:100%;
			      									}

#project-title h2, #congress-title h2, #oil-title h2, 
#sustain-title h2, #eames-title h2, #post-title h2 {
			      									font-size: .8em;
			      									font-weight:bold;
			      									margin-top: 2em;
			   	  									}

#project-title img, #congress-title img, #oil-title img, 
#sustain-title img, #eames-title img, #post-title img {
			       									  margin-left:0;
			       									  margin-top: 3em;
			       									  width:40%;
			   	   									  }

.type p, .threecolumn p, .threecolumnlast p, 
.twocolumn p, .twocolumnlast p  {
	  							font-size:1.1em;
	  							line-height:1.5em;
	  							float:left;
	  							}

.project-content img {
	  				 margin-bottom: 2em;
	  				 }
	  	
.project-part1 img  {
	  				margin-bottom: 0;
	  				}

.photo {
	   float:right;
	   }

iframe 	{
		width:100%;
		height:23em;
		}


/*----------------------- Stickem -----------------------*/

.stickem-container {
	position: relative;
}
 
.stickit {
	margin-left: 660px;
	position: fixed;
	top: 0;
}
 
.stickit-end {
	bottom: 0;
	position: absolute;
	right: 0;
}

